//Color constant
$white:                                                      #fff;
$black:                                                      #000;
$red:                                                        #f33d4b;
$gray:                                                       #fafafa;
$gallery:                                                    #eaeaea;
$flamingo:                                                   #F04730;
$malachite:                                                  #19c54d;
$tundora:                                                    #444444;
$mine_shaft:                                                 #333333;
$mine_shaft_light:                                           #3c3c3c;
$picton_blue:                                                #50d3ea;
$gallery:                                                    #eeeeee;
$anakiwa:                                                    #adefff;
$seashell:                                                   #f1f1f1;
$downy:                                                      #66c2d2;
$silver:                                                     #cccccc;
$dusty_gray:                                                 #999999;
$emperor:                                                    #555555;
$red_orange:                                                 #ff3333;
$dove_gray:                                                  #666666;
